@use '../../variables';
@use '../../extend';

.eyes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10%;
    transform: translateY(-10%);
}

.eye{
    background: variables.$glow;
    width: 100px;
    height: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100% );
    transform: rotate(45deg);
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 2px solid black ;
}