*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  background: #16213E;
}

a, a:visited, a:link {
  color: #eee;
  text-decoration: none;
}

.gallerij__button, .header__button, .nav__button {
  width: 15rem;
  padding: 1rem;
  font-size: 80%;
  background: hsl(324, 80%, 63%);
  border: none;
  color: #eee;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.gallerij__button:hover, .header__button:hover, .nav__button:hover {
  cursor: pointer;
  background: hsl(324, 80%, 43%);
  transition: 0.2s;
}

.footer__h2, .gallerij__h2, .kenmerken__h2, .over__h2, .header__h2 {
  font-family: "Kalam", cursive;
  font-size: 180%;
  color: #eee;
}

.kenmerken, .over {
  padding: 2rem;
  border-bottom: 0.2rem solid #FF78C4;
}

.gallerij__header, .kenmerken__header, .over__header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

nav {
  width: 100%;
  background: #FF78C4;
  display: flex;
  justify-content: space-between;
  min-height: 7rem;
  align-items: center;
  color: #eee;
  font-size: 120%;
  padding: 2rem;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.nav__logo {
  font-size: 200%;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav__listItem {
  font-size: 100%;
}

.nav__link {
  font-size: 100%;
}

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
}

.header__figure {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, rgba(243, 21, 89, 0.1), 70%, rgba(255, 82, 162, 0.1)), url(/img/puppybanner.webp);
  background-size: cover;
  background-position: 50%, 90%;
}

.header > figure > div {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #eee;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.header__h1 {
  font-family: "Kalam", cursive;
  font-size: 400%;
}

.header__logo {
  font-size: 250%;
  color: #eee;
  border: 0.5rem solid #FF78C4;
  border-radius: 50%;
  padding: 1rem;
}

.over__colum {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.over__p {
  width: 80%;
  color: #eee;
}

.over__figure {
  position: relative;
  height: 100%;
  width: 30rem;
}

.over__figure::after {
  content: "";
  background: linear-gradient(to bottom right, rgba(243, 21, 89, 0.1), 70%, rgba(255, 82, 162, 0.1));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8;
}

.over__img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.kenmerken__header {
  height: 20%;
}

.kenmerken__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 80%;
}

.kenmerken__listItem {
  list-style: none;
  color: #eee;
  flex-shrink: 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kenmerken__img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.kenmerken__h3 {
  font-size: 150%;
  font-family: "Kalam", cursive;
}

.kenmerken__p {
  width: 50ch;
  text-align: center;
  font-size: 100%;
  padding-bottom: 30px;
}

.gallerij {
  height: 80vh;
}

.gallerij__fotos {
  display: flex;
  flex-wrap: wrap;
}

.gallerij__foto {
  width: 25%;
  height: 40rem;
  list-style: none;
  position: relative;
}

.gallerij__gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(243, 21, 89, 0.2), 70%, rgba(255, 82, 162, 0.2));
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
  transform-origin: left;
  display: flex;
  justify-content: center;
  align-items: end;
}

.gallerij__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallerij__button {
  transition-delay: 1s;
  margin-bottom: 20px;
}

.gallerij__foto:hover, .gallerij__button {
  opacity: 1;
}

.gallerij__foto:hover .gallerij__gradient {
  transform: scale(1);
  opacity: 1;
}

@media screen and (max-width: 75rem) {
  body {
    font-size: 1.6rem;
  }
  .over {
    height: 120rem;
  }
  .over__colum {
    flex-direction: column;
  }
  .over__p {
    width: 100%;
    color: #eee;
  }
  .over__img {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }
  .kenmerken {
    min-height: 120rem;
  }
  .nav__button {
    display: none;
  }
  .nav__list {
    width: 60%;
  }
  nav {
    position: relative;
  }
  .kenmerken__listItem {
    width: 100%;
  }
  .gallerij {
    height: auto;
  }
  .gallerij__fotos {
    flex-wrap: wrap;
  }
  .gallerij__foto {
    height: 20rem;
    width: 100%;
  }
  .gallerij__foto:hover .gallerij__button {
    opacity: 0;
    transition: 0.7s;
  }
  .foto:hover .gallerij__gradient {
    transform: scaleX(0);
  }
}
@media screen and (max-width: 50rem) {
  .gallerij__list {
    flex-direction: column;
  }
}
.footer {
  background: #FF78C4;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-evenly;
}

.footer__h2 {
  justify-content: center;
  text-align: center;
  height: 60px;
}

.footer__logos {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  text-align: center;
  color: #eee;
  font-size: 30px;
  height: 60px;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
