@use 'variables';

* {
    padding: 0;
    margin: 0;
}

body{
    background: variables.$background;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.moon{
    height: 400px;
    width: 400px;
    background: variables.$moon;
    border-radius: 50%;
    position: absolute;
    transform: translateY(45%);
    overflow: hidden;
}

.spots{
    background: variables.$moon-spots;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.star{
    height: 100px;
    width: 100px;
    background: gold;
}