$pumpkin: #FF7518 ;
$leaf: green;
$stump: #a05c17;
$face: black;
$background: radial-gradient(white, 30%, black);
$glow: radial-gradient( gold,40%, black);
$glow-animation1: radial-gradient( gold,50% ,black);
$glow-animation2: radial-gradient( gold,60% ,black);
$glow-animation3: radial-gradient( gold,70% ,black);
$glow-animation4: radial-gradient( gold,80% ,black);