@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin rotate($duration){
    transform: rotate(360deg);
    transition: $duration all;
    transition-timing-function: linear;
}